<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header"><h3 class="text-muted navbar-brand">appointme</h3></div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav nav-pills pull-right">
      <li ui-sref-active="active"><a ng-href="#">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="search">Search</a></li>
      <li ng-show="!isAuthed" ui-sref-active="active"><a ui-sref="login">Sign In</a></li>
      <li ng-show="!isAuthed" ui-sref-active="active"><a ui-sref="registration">Sign Up</a></li>
      <li ng-show="isAuthed" ui-sref-active="active"><a ui-sref="myAccount">Dashboard</a></li>
      <li ng-show="isAuthed"><a href="#" ng-click="logout()">Logout</a></li>
    </ul>
  </nav>
</header>
