<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu" ng-class="{'gn-selected': isMenuOpen}" ng-mouseover="openIconMenu()" ng-mouseout="closeIconMenu()" ng-click="toggleMenu($event)"><span>Menu</span></a>
        <nav class="gn-menu-wrapper" ng-mouseover="openMenu()" ng-mouseleave="closeMenu()" ng-class="{'gn-open-all': isMenuOpen, 'gn-open-part': isIconMenuOpen}">
            <div class="gn-scroller">
                <ul class="gn-menu">

                    <li ui-sref-active="active"><a ui-sref="main" class="gn-icon gn-icon-home">Home</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="search" class="gn-icon gn-icon-search">Search</a></li>
                    <li ui-sref-active="active" ng-show="isAuthed">
                        <a ui-sref="myAccount" class="gn-icon gn-icon-myaccount">My Account</a>
<!--                         <ul class="gn-submenu">
                            <li>
                                <a class="gn-icon gn-icon-myaccount">Test</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-myaccount">Test</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-myaccount">Test</a>
                            </li>
                        </ul> -->
                    </li>

                    <li ng-show="!isAuthed" ui-sref-active="active"><a ui-sref="login" class="gn-icon gn-icon-login">Login</a>
                    </li>
                    <li ng-show="!isAuthed" ui-sref-active="active"><a ui-sref="registration" class="gn-icon gn-icon-signup">Sign Up</a>
                    </li>
                    <li ng-show="isAuthed"> <a href="#" ng-click="logout()" class="gn-icon gn-icon-logout">Logout</a>
                    </li>


                </ul>
            </div>
            <!-- /gn-scroller -->
        </nav>
        </li>



</ul>