<div class="wrapper">
    <form class="form-signin" ng-submit="submit()" name="loginForm" novalidate>
        <h2 class="form-signin-heading">Update my account</h2>

        <div class="form-group">
            <label for="nickName">Nick name</label>
            <input type="text" class="form-control" name="nickName" placeholder="Nick Name" ng-model="user.nickName" autofocus="" />
        </div>

        <div ng-if="user._tasker">
            <div class="form-group">
                <label for="bio">Bio</label>
                <input type="textarea" class="form-control" name="bio" placeholder="Bio" ng-model="user._tasker.bio" />
            </div>
            <div class="form-group">

                <label for="city">City</label>
                <input type="text" class="form-control" name="city" placeholder="City" ng-model="user._tasker.city" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="hasVehicle" ng-model="user._tasker.hasVehicle" />Has vehicle
                </label>
            </div>
        </div>
        <ul class="class=" list-group >
            <li class="list-group-item" ng-repeat="item in user._tasker.capableTask">
                <a class="label label-danger pull-right" ng-click="removeCapableTask($index)">Remove</a>
                <h4>{{item._categoryId.name}}</h4>
                <p>{{item.description}}</p>
                <p>{{item.rate}}/hr</p>
            </li>
        </ul>
        <hr>
        <div class="form-group">

            <label>Add capiable task</label>
            <select class="form-control" ng-model="capableTaskToAdd.id">
                <optgroup ng-repeat="category in categories" label="{{category.name}}">
                    <option ng-repeat="child in category.children" value="{{child._id}}">{{child.name}}</option>
                </optgroup>
            </select>
            <input type="textarea" class="form-control" name="description" placeholder="Description" ng-model="capableTaskToAdd.description" />
            <input type="text" class="form-control" name="rate" placeholder="Rate" ng-model="capableTaskToAdd.rate" />
            <a class="btn btn-lg btn-primary btn-block" ng-click="addCapableTask()">Add capiable task</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>
</div>