<div class="wrapper container">
    <form class="form-signup" role="form" ng-submit="submit()" name="signupForm" novalidate>
        <h2 class="form-signin-heading">Please sign up</h2>
        
        
        <div ng-class="{ 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty && !signupForm.username.$focused}">
            <input type="email" class="form-control" name="username" placeholder="Email Address" ng-model="user.email" ng-focused autofocus="" required/>
            <p ng-show="signupForm.username.$error.required && signupForm.username.$dirty && !signupForm.username.$focused" class="help-block">Please enter an email address</p>
            <p ng-show="signupForm.username.$error.email && signupForm.username.$dirty && !signupForm.username.$focused" class="help-block">Please enter a valid email address</p>
        </div>


        <div ng-class="{ 'has-error' : signupForm.nickname.$invalid && signupForm.nickname.$dirty && !signupForm.nickname.$focused}">
            <input type="text" class="form-control" name="nickname" placeholder="Nick Name" ng-model="user.nickName" ng-focused required />
            <p ng-show="signupForm.nickName.$error.required && signupForm.nickName.$dirty && !signupForm.nickName.$focused" class="help-block">Please enter a nick name</p>
        </div>



        <div ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty && !signupForm.password.$focused}">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-focused required />
            <p ng-show="signupForm.password.$error.required && signupForm.password.$dirty && !signupForm.password.$focused" class="help-block">Please enter your password</p>
        </div>

        <div ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty && !signupForm.confirmPassword.$focused}">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword" ng-focused required nx-equal="user.password"/>
            <p ng-show="signupForm.confirmPassword.$error.required && signupForm.confirmPassword.$dirty && !signupForm.confirmPassword.$focused" class="help-block">Please enter your confirmed password</p>
            <p ng-show="signupForm.confirmPassword.$error.nxEqual && signupForm.confirmPassword.$dirty && !signupForm.confirmPassword.$focused" class="help-block">Confirm password doesn't match passowrd</p>
        </div>
        
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signupForm.$invalid">Sign Up</button>
    </form>
</div>
