<main class="masthead">
  <div class="container">
    <h1>ETax Centre makes taxes easy</h1>
    <h3>Professional services. Transparent prices. Lowest costs. Maximum refunds.</h3>
  </div>
</main>
<article class="intro-marketing marketing">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 intro-marketing-box">
    <h2><span class="glyphicon glyphicon-user"></span><a href="./personal-tax">PERSONAL TAX T1</a></h2>
    <p>PERSONAL TAX T1</p>
    </div>
    <div class="col-lg-6 col-md-6 intro-marketing-box">
    <h2><span class="glyphicon glyphicon-briefcase"></span><a href="./corporate-tax">CORPORATE TAX T2</a></h2>
    <p>CORPORATE TAX T2</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 col-md-6 intro-marketing-box">
    <h2><span class="glyphicon glyphicon-calendar"></span><a href="./bookkeeping">BOOKKEEPING & PAYROLL</a></h2>
    <p>BOOKKEEPING & PAYROLL</p>
    </div>
    <div class="col-lg-6 col-md-6 intro-marketing-box">
    <h2><span class="glyphicon glyphicon-ok"></span><a href="./business-registration">BUSINESS REGISTRATION</a></h2>
    <p>BUSINESS REGISTRATION</p>
    </div>
  </div>
  </div>
</article>
<article class="container about-us marketing">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="page-header">
        <h1>About Us</h1>
      </div>
      <p class="lead">VR eTax Centre is an accounting firm founded by a group of professional accountants. Since it has been incorporated, the firm has been providing tax, accounting, and financial consulting services for thousands of individuals, families, and businesses in the Great Vancouver Area.

Our commitment is to provide professional services with best quality and at the lowest cost. Based on Canadian tax rules, we minimize your taxes and maximize your tax benefits. Our prices are always transparent. at eTax Centre, there will never be any additional or hiding fees.

Our broad knowledge of Canadian tax rules and regulations enable us to work very efficiently and save costs for clients.</p>
    </div>
  </div>
</article>